<div class="slide-container" *ngIf="generalInfo">
    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div>
            <div class="sidebar-header">
                <div class="sidebar-accent"></div>
                <div class="title-group">
                    <h1>DQME APP</h1>
                    <p class="subtitle">PLATFORM</p>
                </div>
            </div>
        </div>

        <div>
            <div class="date-group">
                <h2>{{ generalInfo.month }} {{ generalInfo.year }}</h2>
            </div>
        </div>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="main-display">
        <header class="main-header">
            <div>
                <h2 class="main-title">Key Accomplishments</h2>
            </div>

        </header>

        <!-- Cards Container -->
        <div class="cards-container">
            <div class="content-card" *ngFor="let item of highlights">
                <div class="icon-square" [innerHTML]="item.icon"></div>
                <div>
                    <h3 class="highlight-title">{{ item.title }}</h3>
                    <p class="highlight-desc">{{ item.desc }}</p>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="mt-auto pt-3 pb-1 flex justify-between items-center border-t border-slate-200">
            <div class="flex items-center">
                <span class="text-[10px] font-black tracking-tighter text-brand-navy uppercase">COGNIZANT</span>
            </div>
            <div class="flex items-center gap-8">
                <span class="text-[0.55rem] font-bold text-slate-400 uppercase tracking-widest">Caterpillar: Confidential Green</span>
                <span class="text-[0.65rem] font-extrabold text-[#94a3b8]">4</span>
            </div>
        </footer>
    </main>
</div>
